#custom-nav 
{  
    box-shadow: 0px 1px 5px gray;
    padding: 5px;
    background-color: honeydew;
} 
nav a{
    font-size: 15px;
    color: black;
}
nav a:hover{
    box-shadow: inset 0 100px 0 0 rgb(125, 125, 253);
    border-radius: 5px;
    color: cornsilk;
}
.main{
    padding: 16px;
    margin-top: 50px;    
}
.page{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_body{
    box-shadow: 0px 1px 4px gray;
    width: 40%;
    height: auto;
    display: flow-root;
    margin:auto;
    
    padding: 40px;
    padding-top: 47px;
    border-radius: 10px;
}
.login_button{
    
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
}
.swap_between_login_register{
    margin-top: 30px;
    display: flex;
}
.swap_between_login_register p{
    margin-right: 100px;
}
.register_page{
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register_body{
    box-shadow: 0px 1px 4px gray;
    width: 40%;
    height: auto;
    display: flow-root;
    margin:auto;
    
    padding: 40px;
    padding-top: 47px;
    border-radius: 10px;
}
.intro{
    margin: 50px 0px 50px 0px;
    background-image: url('./image/wallpaperflare.com_wallpaper.jpg');
    background-color: #000;
    opacity: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.intro_contain{
    filter: brightness(100%);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}